<br/>
<div style="background: #262626; height: 40px; width: 100%; float:left; ">
  
  <div style=" background-color: white;  width: 14%; float:left;">
    <div style="background-color: white;  background: url('cid:icon') no-repeat center; width: 100%; background-size: contain; height: 40px;"></div>
  </div>

  <div style="height:40px; display: table; float:left; width: 40%; padding-left:3%;">
    <span style=" display: table-cell; vertical-align: middle; color:white; ">Equipe Catrix ©</span>
  </div>
</div>