<strong>Seja bem vindo a equipe Catrix, </strong>{{user}}
<p>Seus dados para acesso a conta são esses abaixo: </p>

Email: <span style="color: orange;">{{email}}</span><br />
Password: <span style="color: orange;">{{password}}</span>
<br />
<br />
<small>Acesse já sua conta.</small>
